#### 1. In the below elements which of them are values or an expression? eg:- values can be
#### integer or string and expressions will be mathematical operators.

#### *

#### 'hello'

#### -87.8

#### -

#### /

#### +

#### 6

 1. *is used as an multiplication operator which is used to multiply two values.
 
 2. 'hello' is a string datatype.
 
 3. -87.8 is an float data type.
 
 4. -is an subtraction operator which is used to subtract two values.
 
 5. /is an division operator which is used to divide two values.
 
 6. +is an addition opeorator which is used to add  numerical values or to concatinate the strings.
 
 7. 6 is an integer value.

-----------------------------------------

#### 2. What is the difference between string and variable?

##### string
- String is a group of characters, which are enclosed within the single quotes(' ') or double quotes(" ") and stored in a

variable.

- A String can be represented using triple single quotes(''') or triple double quotes("""),which is called multiline 

string.

- The advantage of multiline string it contains more than one line including spaces.

##### Example

str_1="assign"

here "assign" is string data type.


##### Variable

- Variable which is used to store the data in it. Variable points to a memory location where the data is stored.

###### Rules for creating variables

It can be only one word with no spaces.

It can use only letters, numbers, and the underscore (_) character.

It cannot begin with a number.

##### Example

var = 10

here 10 is the data which is stored in variable var.

By using var we can retrieve thee value 10.

var which points to data 10 in memory location internally.

some valid varaible names a,ab,a_b,a12

invalid variable names @a, 12A,123

-----------------------------------------

##### 3. Describe three different data types.

Data types represents the type of data that will be stored in a variable.

The data types in python are also called as " Built-in datatypes".

The most common datatypes in python are

- Integer - A number which doesn't contain any floating point values

  -  Example
  
     2, 3, 5, 6, 7, -10

- Float - A number which contains the fraction part known as float datatype.

 -   Example

     2.4,-1.50, 4.0

- String - String is a group of characters, which are enclosed within the single quotes(' ') or double quotes(" ")"

 -  Example

     'abc', "Hello" , "Welcome to Python"

-----------------------------------------

#### 4. What is an expression made up of? What do all expressions do?

- Expressions

  Expressions are made up values, variables and operators which are evaluated and reduce dowm to a single value.
  
  All expressions evaluated by interpreter and finds the value.

In [2]:
#Examples of expressions
print(4+2)
n=10
print(n+10)

6
20

-----------------------------------------

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

- Expression

     Expressions are made up values, variables and operators which are evaluated and reduce dowm to a single value.
     
     Statement

     A statement is a unit of code which has an effect like print a variable, calling a function.
    
    1. spam=10

    2. print(spam)

line 1 represents assignment statement, the value 10 is assigned to variable spam.

line 2 represents printing statement which prints the value on console.

-----------------------------------------

#### 6. After running the following code, what does the variable bacon contain?

#### bacon = 22

#### bacon + 1

    The variable bacon contains the value 22. Because we just incremented the bacon value in runtime but we are not reassigned to the variable bacon.

In [4]:
bacon=22
bacon+1 # we incremented in runtime

23

In [5]:
bacon #but the original value is not affected.

22

------------------

#### 7. What should the values of the following two terms be?

#### 'spam' + 'spamspam'

#### 'spam' * 3

    'spam'+'spamspam' --> results in 'spamspamspam'

    'spam' * 3 --> results in 'spamspamspam'

#### 8. Why is eggs a valid variable name while 100 is invalid?

   - eggs is valid variable
    
    because the variable started with alphabet.and it does not contain any special character in the variable name.

   - 100 is invalid
    
    because the variable started with number.
    
    It cannot begin with number.
    
    It can use only letters, numbers, and the underscore (_) character.

----------------------

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The three functions can be used to get the integer, floating-point number, or string version of a value.

    int() to get integer.

    float() to get floating point number.

    str() to get string version of a value.

----------------------

#### 10. Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

    'i have eaten'+99+'burritos'

    Because the expression causes error we can concatenate str to str (not of type int)

    To fix the error we can enclose the value 99 inside single or double quotes.

    'i have eaten'+'99'+'burritos'

In [6]:
'i have eaten '+'99'+' burritos'

'i have eaten 99 burritos'